body{

    font-family: 'Roboto', sans-serif;

}
.padding0{padding-left: 0px;padding-right:0px}
/*Header section style*/
.header_section {
	background: #f1f8f9;
	padding: 7px 0px;
}
.custom-success{
    background-color: #00dba5;
    border: none;
    color: #FFF !important;
}
.custom-primary {
	background-color: #00acdb;
	border: none;
	color: #FFF !important;
}

/*Menu Section design*/
.menu_section{
    background-color: #28a745;
}

.menu_section .menu-bg{
    background-color: #28a745;
}

.menu_section .nav-item{border-right: 1px solid #0087A6;}
.menu_section .nav-item:last-child{border: none}
.menu_section .nav-item .nav-link {
	font-weight: 400;
	font-size: 20px;
	color: #FFF;
	letter-spacing: 2px;
}
.slider_section{position: relative;}
.search_section {
	position: absolute;
	width: 100%;
	top: 80px;
}
.search_box{background: #FFFFFF9E;border-radius: 10px;}
.search_box h1 {
	color: #0085a4;
	margin: 0;
	padding: 15px 0px;
	border-bottom: 1px solid #28a745;
	margin-bottom: 15px;
}

/*This Design for doctor dashboard icon*/
.dashboard_icon {
	display: block;
	text-align: center;
	text-decoration: none;
	background: #28A745;
	color: #FFF;
	margin-bottom: 30px;
	padding: 15px;
}
.dashboard_icon:hover {
	background: #ff9300;
	color: #FFF;
}
.dashboard_icon i{
    font-size: 60px;

}
.dashboard_icon span {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 3px;
}


/*This style for property page*/
.single_property{margin-bottom: 30px;background: #FFF}
.single_property .info{}
.single_property .info h4 {
	color: #555;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	padding-top: 10px;
}
.single_property .property_footer {
	border: 1px solid #DDD;
	border-top: none;
}
.single_property .info p {
	font-size: 14px;
	color: #28a745;
	font-weight: normal;
    margin-bottom: 0px;
}
.single_property .image{text-align: center;}
.single_property .image img {
	width: 100%;
}
.single_property .ratings {
	margin-bottom: 10px;
}
.single_property .ratings i{color: #ff9300;}
.single_property .appoinment{overflow: hidden;display: block}
.single_property .appoinment a {
	display: inline-block;
	float: left;
	border-radius: 0px;
	margin-bottom: 10px;
	padding: 0px;
}
.single_property .appoinment a:first-child {
	width: 50%;
	color: #666;
	border-right: 1px solid #DDD;
}
.single_property .appoinment a:last-child {
	width: 50%;
	color: #666;
}


/*Footer style*/
.footer_section{
    background: #28a745;
    color: #FFF;
    padding: 25px 0px;
}

.footer_social {
	display: inline-block;
	float: right;
}
.footer_social a {
	color: #FFF;
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
	background: #4d4949;
	padding: 0px 5px;
	margin: 0px 3px 3px 3px;
	background: #4d4949;
}
.footer_social a i {
	width: 25px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 3px 3px 3px #000;
}
a.afacebook{background:#3B5A99}
a.afacebook:hover{background:#0E2F72}
a.atwitter{background:#44546D}
a.atwitter:hover{background:#203659}
a.ainstagram{background:#2F679A}
a.ainstagram:hover{background:#093D6C}
a.alinkedin{background:#06659E}
a.alinkedin:hover{background:#05476E}
a.ayoutube{background:#CE302D}
a.ayoutube:hover{background:#950906}
a.agoogleplus{background:#A50B08}
a.agoogleplus:hover{background:#830C0A}
a.askype{background:#425847}
a.askype:hover{background:#26392A}
a.apinterest{background:#ED612E}
a.apinterest:hover{background:#B93403}




.footer_copyright{
    background: #038821;
    color: #FFF;
    padding: 10px 0px;
}
.footer_copyright p{
    margin-bottom: 0px;
    padding: 8px 0px;
}
/*This style for login page*/
.login_section{padding: 30px 0px}
.login_template {
	padding: 15px;
	box-shadow: 0px 0px 10px 0px #C8C8C8;
	border-radius: 15px;
    box-shadow: 0px 0px 3px 0px #C8C8C8;
}
.welcome_part {
	 background: rgb(0,163,200);
    background: linear-gradient(90deg, rgba(0,163,200,0.9640056706276261) 0%, rgba(0,184,242,1) 50%, rgba(61,227,255,0.9584034297312675) 100%); 
        margin-bottom: -15px;
	margin-top: -15px;
	border-radius: 15px 0px 0px 15px;
	padding-top: 150px;
	padding-bottom: 150px;
}
.welcome_part h1 {
	color: white;
    font-weight: 200;
}
.welcome_part p{color: white}
.welcome_part a {
	color: #FFF;
	border: 1px solid #FFF;
	background: none;
	padding: 5px 40px;
	border-radius: 50px;
    font-weight: 300;
}
.login_part {
	padding: 100px 15px;
}
.sign_up_part {
	padding: 56px 15px;
}
.login_part h1{
    font-weight: 200;
    color: #28a745;
}
.login_part .btn {
	background-color: #FFF;
	color: #07bcf3;
	font-weight: 300;
	font-size: 20px;
	border: 1px solid #DDD;
	padding: 5px 30px;
    border-radius: 50px;
}
.login_part .form-control {
	font-weight: 300;
	padding-left: 40px;
}
.login_part .form-group {
	position: relative;
}
.login_part .form-group i {
	position: absolute;
	font-size: 22px;
	top: 7px;
	left: 10px;
	color: #28a745;
	pointer-events: none;
}




/*This style for about us page*/
.about_section{padding-top: 50px;}
.section-header {
  text-transform: uppercase;
  margin-bottom: 60px;
}
.section-header h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: 4px;
}
.section-header p {
  letter-spacing: 5px;
}
.yellow, .yellow-c {
    background-color: #00D2FF !important;
}
.purple, .purple-c {
	background-color: #924992 !important;
}
.navi-blue, .navi-c {
	background-color: #504077 !important;
}
.each-features-body {
  height: 360px;
  padding: 20px;
  overflow: hidden;
}
.each-features-body .logo-with-title {
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: 50px;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.each-features-body .logo-with-title .title,
.each-features-body .logo-with-title .fa {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.each-features-body .logo-with-title .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  position: relative;
}
.each-features-body .logo-with-title .title:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 2px;
  left: 35%;
  bottom: 0;
  opacity: 0;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.each-features-body .logo-with-title .detail {
  color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.each-features-body .logo-with-title .detail,
.each-features-body .logo-with-title .title:after {
  -webkit-transition: opacity 0.25s, -webkit-transform 0.4s;
  transition: opacity 0.25s, transform 0.40s;
  opacity: 0;
}
.each-features-body .logo-with-title .fa {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}
.each-features-body .logo-with-title .fa:after {
  -webkit-transition: opacity 0.25s, -webkit-transform 0.4s;
  transition: opacity 0.25s, transform 0.40s;
}
.each-features-body .logo-with-title .hr {
  width: 50px;
  height: 2px;
  border-top: 3px solid #eee;
}
.each-features-body .logo-with-title:hover {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.each-features-body .logo-with-title:after {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.each-features-body:hover .logo-with-title {
  text-align: center;
  position: relative;
  top: 0%;
  margin-top: 10px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.each-features-body:hover .logo-with-title .title {
  margin-bottom: 5px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.each-features-body:hover .logo-with-title .detail,
.each-features-body:hover .logo-with-title .fa,
.each-features-body:hover .logo-with-title .title:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.each-features-body:hover .logo-with-title .fa {
  margin-bottom: 10px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.each-features-body:hover .logo-with-title .fa:after {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.each-features-body:hover .logo-with-title:after {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.about-us-details {
  margin: 60px 0;
}
.client-quate {
  margin-top: 80px;
}
.quate {
  text-align: left;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F4F4F4;
  position: relative;
}


/*Contact page desing*/
.login_part.contact_page{padding: 0px;padding-bottom: 100px}






/*This Style for single property details and owner details*/

.property_owner_section{ background: #f1f8f9; padding: 10px 0px; }

.owner_contacts{
    margin: 0;
    padding: 0;
    list-style: none;
}
.owner_contacts li {
    margin: 5px;
}
.owner_contacts li a {
	text-decoration: none;
	font-size: 20px;
	color: #4CAF50;
}
.white_block{
    background:
    #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid
    #E8E8E8;
}
.owner_contacts li a i{color:#007b46}
.owner_contacts li a:hover{}
.owner_name_image{
    color:
    #28a745;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.property_details{background: #f1f8f9;}
.property_block{
    text-align: center
}
.property_block a{
    font-size: 20px;
    color: #4CAF50;
    text-align: center;
    text-decoration: none;
}
.property_block i{
    color:
    #007b46;
    display: block;
    text-align: center;
    font-size: 30px;
}

.seperator{border-bottom: 1px solid #DDD; min-height: 1px;width:100%}

.tooltip-inner {
    max-width: 300px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #007b46;
    border-radius: .25rem;
    font-size: 18px
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #007b46;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #007b46;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #007b46;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: #007b46;
}


.property_action_area{
    padding: 10px;
    padding-top: 10px;
    padding-top: 0px;
}

.property_pictures{position: relative}
.property_pictures span {
	position: absolute;
	top: -7px;
	right: -7px;
	background: #FFF;
	border-radius: 50%;
	color: red;
	width: 35px;
	height: 35px;
	border: 1px solid #DDD;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}
.property_pictures span:hover{border-color:red}
.property_pictures span i{}
.property_picture_upload {
	border: 3px solid #DDD;
	text-align: center;
	cursor: pointer;
	position: relative;
	height: 90px;
}
.property_picture_upload span{
    padding: 10px;
	height: 84px;
	z-index: 99;
	position: absolute;
	width: 100%;
	left: 0;
	background: #FFF;
    pointer-events: none;
}
.property_picture_upload i {
	color: #888;
	font-size: 69px;
    pointer-events: none;
	
}
.property_picture_upload .property_image {
	width: 100%;
	color: #FFF;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	cursor: pointer;
	z-index: 9;
	height: 90px;
}
.property_picture_upload:hover{border-color: #bfbfbf}
.property_picture_upload:hover i{color:#555}

.users_list{margin: 0;padding:0;list-style: none}
.users_list li{border-bottom: 1px solid #DDD;}
.users_list li a {
	text-decoration: none;
	display: block;
	overflow: hidden;
	color: #28a745;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2px;
	padding: 5px;
    padding-left: 0;
}
.users_list li a img {
	width: 45px;
	height: 45px;
}
.users_list li a:hover{text-decoration: none}
.users_list li:last-child{border: none;}
.dashboard_icon span.messenger_badge{
    background: orange;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding-top: 12px;
    text-align: center;
    top: -13px;
    right: 0px;
    position: absolute
    
}


.has-error{color:red}
.has-success{}
.has-success label{color:green; font-weight: 600}