 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .search_section{position: inherit; top: 0}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .search_section{position: inherit;top: 0}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .search_section{position: absolute; top: 80px
    }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
      .search_section{position: absolute; top: 80px
    }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      .search_section{position: absolute; top: 80px
    } 